.projects .body > .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin-top: 4rem;
  gap: 2rem;
}

.projects .body p {
  font-size: medium;
}

.projects .body > .cards > .project {
  display: grid;
  grid-template-rows: min-content auto auto;
  text-align: center;
  min-width: 100%;
  min-height: 100%;
  border-radius: 8px;
  background-color: #161b22;
}

.projects .desc {
  margin: 1rem;
}

.projects img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  object-fit: cover;
}
