@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Red+Hat+Text:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

.text-main {
  color: #d2a8ff;
  text-decoration-color: #d2a8ff;
}

.emph {
  color: #fff;
  text-decoration-color: #fff;
}

html,
body {
  position: relative;
  margin: 2rem;
  background-color: #0d1117;
  color: #c9d1d9;
  font-family: "Red Hat Text", "Red Hat Display", sans-serif;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  color: #79c0ff;
}

h2 {
  font-size: 40px;
  font-weight: medium;
  color: #d2a8ff;
}

h3 {
  font-size: 32px;
  font-weight: normal;
}

p {
  font-size: 24px;
  margin: 12px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Red Hat Display";
}

a,
a:visited {
  color: #fff;
  text-decoration: underline #fff 1px;
  text-transform: none;
}

.page {
  padding-bottom: 15vh;
}